<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/kontak" method="POST">
      <div class="myform">
        <div class="label-group">
          <label for="nama">Nama:</label>
          <label for="email" type="email">Email:</label>
          <label class="pesan" for="pesan">Pesan:</label>
        </div>
        <div class="input-group">
          <input type="text" id="nama" name="nama" required />
          <input type="email" id="email" name="email" required />
          <textarea id="pesan" name="pesan" required></textarea>
        </div>
      </div>
      <div class="submit-button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
